---
import Card from './Card.astro';
import type { Props as CardProps } from './Card.astro';

type Props = {
  cards: CardProps[];
};

const { cards } = Astro.props;
---

<div class="cards">
  <!-- Dynamically renders all cards -->
  {
    cards.map((card) => {
      return <Card {...card} />;
    })
  }
</div>

<style>
  .cards {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    gap: 1em;
  }

  @media screen and (min-width: 768px) {
    .cards {
      flex-direction: row;
    }
  }
</style>
